<div class="col-xs-6">
  <div class="panel panel-default">
    <div class="panel-heading">Info</div>
      <div class="panel-body">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Artist:</strong></td>
                <td><%= @music.artist %></td>
              </tr>
              <tr>
                <td><strong>Title:</strong></td>
                <td><%= @music.title %></td>
              </tr>
               <tr>
                <td><strong>Year:</strong></td>
                <td><%= @music.year %></td>
              </tr>
               <tr>
                <td><strong>Label:</strong></td>
                <td><%= @music.label %></td>
              </tr>
               <tr>
                <td><strong>Genere:</strong></td>
                <td><%= @music.genere %></td>
              </tr>
              <tr>
                <td><strong>Format:</strong></td>
                <td><%= @music.format %></td>
              </tr>
              <tr>
                <td><strong>Grade:</strong></td>
                <td><%= @music.grade %></td>
              </tr>
              <tr>
                <td><strong>Notes:</strong></td>
                <td><%= @music.notes %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

<div class="col-xs-6">
  <div class="img-responsive img-thumbnail disabled ">
    <%= image_tag @music.image.url(:large) %>
  </div>
</div>

<div class="col-xs-12">
  <%= link_to 'Edit', edit_music_path(@music), class: 'btn btn-default' %>
<%= link_to 'Delete', @music, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
</div>
