<p id="notice"><%= notice %></p>

<p>
  <strong>Artist:</strong>
  <%= @music.artist %>
</p>

<p>
  <strong>Title:</strong>
  <%= @music.title %>
</p>

<p>
  <strong>Year:</strong>
  <%= @music.year %>
</p>

<p>
  <strong>Label:</strong>
  <%= @music.label %>
</p>

<p>
  <strong>Genere:</strong>
  <%= @music.genere %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @music.rate %>
</p>

<%= link_to 'Edit', edit_music_path(@music) %> |
<%= link_to 'Back', musics_path %>
