<p>
  <strong>Artist:</strong>
  <%= @music.artist %>
</p>

<p>
  <strong>Title:</strong>
  <%= @music.title %>
</p>

<p>
  <strong>Year:</strong>
  <%= @music.year %>
</p>

<p>
  <strong>Label:</strong>
  <%= @music.label %>
</p>

<p>
  <strong>Genere:</strong>
  <%= @music.genere %>
</p>

<p>
  <strong>Format:</strong>
  <%= @music.format %>
</p>
<p>
  <strong>Grade:</strong>
  <%= @music.grade %>
</p>
<p>
  <strong>Notes:</strong>
  <%= @music.notes %>
</p>

<%= link_to 'Edit', edit_music_path(@music) %> |
<%= link_to 'Back', musics_path %>
