<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data- 6 toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>  
      </button>
      <%= link_to 'Music Records Manager', root_path, class:"navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'My Collection', musics_path, class:"link" %></li>

        <% if user_signed_in? %>
          <li><%= link_to 'New', new_music_path, class:"link" %></li>
          <li><%= link_to 'Edit profile', edit_user_registration_path, class:"link" %></li>
          <li><%= link_to 'Log out!', destroy_user_session_path, method: :delete, class:"link" %></li>
        <% else %>
          <li><%= link_to 'Sign in', new_user_session_path, class:"link" %></li>
          <li><%= link_to 'Registration', new_user_registration_path, class:"link" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>